<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">

<div class="title-container">
  <h1 class="title">Mixed Letters - {{ currentCategory?.name }}</h1>
</div>
<div *ngIf="randomWord">
  <mat-card class="game-card">
    <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
    <mat-card-header>
      <mat-card-title>{{ originWord }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="target-word">{{ randomWord.target }}</p>
      <mat-form-field appearance="fill">
        <mat-label>Your Guess</mat-label>
        <input matInput [(ngModel)]="userGuess" placeholder="Enter your guess" aria-label="Guess input">
      </mat-form-field>
      <div class="button-group">
        <button mat-mini-fab [disabled]="userGuess.length <= 0" aria-disabled="true" color="primary" (click)="checkGuess()">
          <mat-icon>spellcheck</mat-icon>
        </button>
        <button mat-mini-fab [disabled]="userGuess.length <= 0" aria-label="" color="primary" (click)="resetForm()">
          <mat-icon>autorenew</mat-icon>
        </button>
        <button mat-mini-fab aria-label="exit" color="accent" (click)="exitGame()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
