<div class="title-container">
    <h1 class="title">Mixed Letters - {{ currentCategory?.name }}</h1>
  </div>
  
  <div *ngIf="randomWord">
    <mat-card class="game-card">
      <mat-card-header>
        <mat-card-title>{{ originWord }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="target-word">{{ randomWord.target }}</p>
        <mat-form-field appearance="fill">
          <mat-label>Your Guess</mat-label>
          <input matInput [(ngModel)]="userGuess" placeholder="Enter your guess">
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button color="primary" (click)="checkGuess()">Submit</button>
          <button mat-raised-button color="warn" (click)="resetForm()">Reset</button>
          <button mat-raised-button color="accent" (click)="exitGame()">Exit</button>
        </div>
        <p *ngIf="feedbackCorrect" [ngClass]="feedbackIncorrect" class="feedbackIncorrect">{{ feedbackCorrect }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  