/* General Styles */
body {
  background: linear-gradient(-45deg, #FFC107, #FF4081, #03A9F4, #4CAF50);
  background-size: 400% 400%;
  animation: backgroundAnimation 10s ease infinite;
  font-family: 'Fredoka One', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  font-size: 2.5em;
  color: #FF4081;
}

/* Game Card Styling */
.game-card {
  border: 4px solid;
  border-image: linear-gradient(45deg, #FF4081, #FFC107, #03A9F4, #4CAF50) 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  animation: borderAnimation 5s linear infinite;
}

@keyframes borderAnimation {
  0% { border-image-slice: 1; }
  50% { border-image-slice: 10; }
  100% { border-image-slice: 1; }
}

.target-word {
  font-size: 1.5em;
  color: #03A9F4;
  margin-bottom: 20px;
}

.mat-form-field {
  width: 100%;
}

/* Button Group Styling */
.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button-group button {
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 50px;
  height: 50px;
}

.button-group button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Button Colors and Effects */
.button-check {
  background: linear-gradient(45deg, #FF4081, #FF80AB);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

.button-reset {
  background: linear-gradient(45deg, #FFEB3B, #FFC107);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

.button-exit {
  background: linear-gradient(45deg, #03A9F4, #00BCD4);
  background-size: 200% 200%;
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Button Press Effect */
.button-group button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.feedbackIncorrect {
  font-size: 1.2em;
  color: #F44336; /* Red for incorrect */
  animation: shake 0.5s ease;
}

/* Feedback Styling */
.feedbackCorrect {
  font-size: 1.2em;
  color: #4CAF50; /* Green for correct */
  animation: bounceIn 0.5s ease;
}



/* Bounce In Animation for Correct Feedback */
@keyframes bounceIn {
  0% { transform: scale(0.5); opacity: 0; }
  60% { transform: scale(1.2); opacity: 1; }
  100% { transform: scale(1); }
}

/* Shake Animation for Incorrect Feedback */
@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
}